/* бокове меню*/
h3 {
    font-family: "Jost", sans-serif;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-top: 19px;
    text-align: center
}

h4 {
    font-family: "Manrope", sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 0px;
}

.menu-category {
    top: 119px;
    padding-top: 19px;
    padding-right: 20px;
    margin: 0 29px;
    position: fixed;
    left: 0;
    width: 310px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    border-right: 1px solid #000;
    z-index: 2;
}

.subcategory {
    font-family: "Manrope", sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin: 5px 0;
}

.subcategories {
    display: none;
    margin-bottom: 5px;
    margin-top: 0;
    gap: 5px;
    flex-direction: column;
    margin-left: 10px;
}

.arrow-icon {
    height: 12px;
    transition: transform 0.3s ease;
    margin-left: 10px;
    top: -5px;
}

.rotate {
    transform: rotate(180deg);
}

.category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 25px;
}

/* пошук*/
.search-container {
    margin-top: 179px;
    margin-left: 370px;
    margin-right: 68px;
    margin-bottom: 36px;
    width: calc(100% - 370px - 68px);
    display: flex;
    justify-content: center;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    outline: none;
    border-radius: 20px;
    width: 100%;
    height: 64px;
    background-color: #ECEDEE;
}

#search-button {
    padding: 10px;
    background-color: #ECEDEE;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: -50px;
}

.search-icon {
    width: 25px;
    height: 25px;
}

.book-list {
    margin-left: 380px;
    margin-right: 68px;
    display: grid;
    grid-template-columns: repeat(5, 1fr) !important;
    gap: 20px;

}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination a {
    text-decoration: none;
    color: black;
    margin: 0 5px;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.pagination .pagination-arrow {
    cursor: pointer;
}

.pagination .pagination-arrow[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination .pagination-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.pagination img {
    width: 24px;
    height: 24px;
}

.content {
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.txt {
    margin-left: 300px;
    text-align: center;
    font-size: 26px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Manrope", sans-serif;
}