/*назва місяця*/
.current-month {
    font-size: 34px;
    font-family: "Jost", sans-serif;
    font-weight: 600;

}

.month {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 153px;
}

.arrow {
    height: 20px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    display: flex;
}

/*календар*/
.calendar {
    margin-left: 70px;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 80px);
    gap: 14px;
    margin-top: 45px;
}

.days-grid div {
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1.5px solid #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}

/*колір читання */
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding-top: 75px;
}

.circle-item {
    display: flex;
    align-items: center;
}

.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.circle-1 {
    background-color: #FFC1AF;
}

.circle-2 {
    background-color: #FFEBAF;
}

.circle-3 {
    background-color: #C0F8B6;
}

.circle-4 {
    background-color: #AFE6FF;
}

.text-circle {
    font-size: 32px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    margin: 0;
    padding-left: 20px;
}

.main-container {
    display: flex;
    align-items: flex-start;
    gap: 250px;
    margin-left: 120px;
}

.book-read {
    margin-left: 185px;
}

.book-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 20px;
}

.empty-message {
    display: none;
    font-size: 32px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Manrope", sans-serif;
}

.main-container,
.book-read {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}