* {

    padding: 0;
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*шрифти*/
.font_text {
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    color: #000;
}

.font_h {
    font-family: "Jost", sans-serif;
    color: #000;
    font-size: 36px;
    font-weight: 600;
    margin-top: 41px;
}

/* верхнє меню*/
.header {
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 119px;
}

.profile {
    width: 60px;
    height: 57px;
    margin-top: 31px;
    margin-left: 122px;
    margin-bottom: 31px;
    margin-right: 57px;
    box-sizing: border-box;
    cursor: pointer;
}

.header_left {
    display: inline-block;
    list-style: none;
    padding-top: 26px;
    padding-left: 46px;
    padding-bottom: 26px;
    width: 185px;
}

.header_right li a {
    text-decoration: none;
    color: #113E4F;
    padding: 10px 20px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-right: 53px;
}

.header_right li {
    padding-top: 43px;
    padding-bottom: 43px;
}

.header_right {
    display: flex;
    list-style: none;
}

@media (max-width: 1024px) {
    .header {
        height: 90px;
    }

    .header_left {
        width: 140px;
        padding-left: 20px;
    }

    .header_right li a {
        font-size: 20px;
        margin-right: 30px;
        padding: 10px 15px;
    }

    .profile {
        width: 50px;
        height: 47px;
        margin: 30px 30px 20px 30px;
    }
}

@media (max-width: 768px) {
    .header {
        height: 80px;
    }

    .header_left {
        width: 130px;
        padding-left: 20px;
    }

    .header_right li a {
        font-size: 18px;
        margin-right: 20px;
        padding: 8px 12px;
    }

    .profile {
        width: 40px;
        height: 37px;
        margin: 35px 20px 20px 20px;
    }
}

@media (max-width: 578px) {
    .header {
        height: 80px;
        padding: 0 10px;
    }

    .header_left {
        width: 100px;
        padding: 15px 0 15px 10px;
    }

    .header_right li a {
        font-size: 16px;
        margin-right: 10px;
        padding: 5px 8px;
    }

    .profile {
        width: 40px;
        height: 37px;
        margin: 35px 15px 0 10px;
    }
}

@media (max-width: 473px) {
    .header {
        height: 80px;
        padding: 0 10px;
    }

    .header_left {
        width: 80px;
        padding: 15px 0 15px 10px;
    }

    .header_right li a {
        font-size: 16px;
        margin-right: 10px;
        padding: 5px 8px;
    }

    .profile {
        width: 40px;
        height: 37px;
        margin: 35px 15px 0 10px;
    }
}

@media (max-width: 450px) {
    .header {
        height: 70px;
    }

    .header_left {
        width: 80px;
        padding-left: 5px;
    }

    .header_right li a {
        font-size: 14px;
        margin-right: 5px;
        padding: 5px;
    }

    .profile {
        width: 35px;
        height: 32px;
        margin: 35px 10px 0 5px;
    }
}

@media (max-width: 380px) {
    .header {
        height: 60px;
    }

    .header_left {
        width: 65px;
        padding-left: 5px;
    }

    .header_right li a {
        font-size: 12px;
        margin-right: 5px;
        padding: 5px;
    }

    .profile {
        width: 30px;
        height: 30px;
        margin: 35px 10px 0 5px;
    }
}

/*книги*/
.book_dynamic {
    max-width: 195px;
    flex-shrink: 0;
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    overflow: visible;
    transition: all 0.3s ease;
    background-color: white;
    position: relative;

    a {
        text-decoration: none;
        color: inherit;
    }

    .img-book {
        width: 195px;
        height: 300px;
        margin-bottom: 0;
        object-fit: cover;
    }

    .h4 {
        font-family: "Jost", sans-serif;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        margin-top: 18px;
        margin-bottom: 0;
        width: 195px;
        text-align: left;
        white-space: normal;
        word-wrap: break-word;
        position: relative;
        transition: all 0.3s ease;
    }

    .p {
        margin-top: 7px;
        font-size: 14px;
        font-family: "Inter", sans-serif;
        width: 195px;
        text-align: left;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease;
    }
}

.my-book {
    background: #ECEDEE;
    border-radius: 20px;
    width: 425px;
    height: 280px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    flex-shrink: 0;

    img {
        width: 145px;
        margin: 29px 36px;
    }

    .book-info {
        width: 100%;
        justify-content: space-between;
    }

    h4 {
        font-family: "Jost", sans-serif;
        color: #000;
        font-size: 24px;
        font-weight: 600;
        margin-top: 29px;
        margin-bottom: 0;
    }

    .author {
        margin-top: 16px;
        font-size: 18px;
        font-family: "Inter", sans-serif;
    }

    .data {
        margin-top: 10px;
        margin-bottom: 28px;
    }

    .rating {
        background: #FFFFFF;
        border-radius: 20px;
        width: 81px;
        height: 40px;
        right: 0;
        display: flex;
        gap: 5px;
        padding: 5px;
        align-items: center;

        img {
            width: 28px;
            height: 28px;
            margin: 0;
        }

        .r {
            margin: 0;
            font-size: 20px;
            font-family: "Inter", sans-serif;
        }
    }

    .right-side {
        margin-top: 70px;
        margin-bottom: 28px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        width: 100%;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 10px;
    }
}

/* футер*/
footer {
    background: #CBE3F4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
    z-index: 3;
    position: relative;
}

footer p {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    margin: 0;
}

/*кнопки*/
.btn-blue {
    border-radius: 25px;
    background: #96D3FF;
    font-family: "Jost", sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    align-self: center;
}

.btn-blue:hover {
    background-color: #6fc2fd;
    transition: 0.7s;
    cursor: pointer;
}

.btn-red {
    border-radius: 25px;
    background: #F8AAAA;
    font-family: "Jost", sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 30px;
    border: none;
}

.btn-red:hover {
    background-color: #f97d7d;
    transition: 0.7s;
    cursor: pointer;
}

/*кнопка*/
.show-all {
    margin-top: 20px;
    padding: 10px 20px;
    color: #1A5267;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.show-all:hover {
    background-color: #d2e8ff;
}


/*модальні вікна*/
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

/*вхід та реєстрація*/
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
    -webkit-text-fill-color: #000 !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

@keyframes modalFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes overlayFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal-login-wrapper {
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #113E4F;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    animation: overlayFadeIn 0.3s ease-out forwards;
}

.modal-login-wrapper .close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

.login-container {
    background-color: #CBE3F4;
    border-radius: 20px;
    animation: modalFadeIn 0.3s ease-out;
    width: clamp(300px, 80%, 600px);
    max-height: 90vh;
    overflow-y: auto;
    padding: 40px;
    position: relative;
    animation: modalFadeIn 0.3s ease-out 0.1s both;
}

.form1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.h {
    margin: 0;
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 2.2rem);
    margin-bottom: clamp(10px, 2vw, 20px);
}

.custom-line {
    height: 1px;
    background-color: #1A5267;
    border: none;
    margin: 10px auto;
    width: 80%;
}

.input {
    width: 100%;
    padding: clamp(8px, 2vw, 12px);
    font-size: clamp(0.9rem, 3vw, 1.1rem);
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 500px;
    margin-bottom: 10px;
}

.input:focus {
    outline: none;
    border: 2px solid #1A5267;
}

.log {
    background-color: #1A5267;
    color: #fff;

    align-self: center;
    border: none;
    padding: clamp(8px, 2vw, 12px) clamp(20px, 4vw, 30px);
    font-size: clamp(1rem, 3vw, 1.2rem);
    border-radius: clamp(10px, 3vw, 20px);
    margin: clamp(15px, 3vw, 25px) auto;
    display: block;
}

.log:hover {
    background-color: #1593b6;
    transition: 0.7s;
    cursor: pointer;
}

.a {
    text-decoration: none;
    color: #1A5267;
    text-decoration: underline;
}

.a:hover {
    color: #1593b6;
    transition: 0.7s;
    cursor: pointer;
}

.p {
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.2rem);
    margin: clamp(8px, 1.5vw, 16px) 0;
}

.password-hint {
    margin-top: 5px;
}

.modal-login-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    line-height: 40px;
    text-align: center;
    background: #1A5267;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
}

.close-modal:hover {
    background: #f97d7d;
    transform: rotate(90deg);
}


/* Стили для спливаючого повідомлення */
.message {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    max-width: 500px;
    width: calc(100% - 40px);
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease-in-out;
    background-color: rgb(216, 238, 249);
}



.success-message {
    color: #539956;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-weight: bold;
}

.error-message {
    color: #c6002c;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-weight: bold;
}


.error-list {
    margin-left: 20px;
    margin-top: 5px;
}

.error-input {
    border-color: #f3a6a5 !important;
    background-color: #fff5f5;
}

/*профіль*/
.modal-content {
    position: relative;
    border-radius: 20px;
    width: clamp(300px, 80%, 500px);
    padding: 40px;
    max-height: 90vh;
    overflow-y: auto;
    animation: modalFadeIn 0.3s ease-out 0.1s both;
}

.container-profile {
    font-family: "Manrope", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 24px;

    .h {
        margin: 0;
        font-size: clamp(1.5rem, 5vw, 2rem);
        color: #1A5267;
        text-align: center;
    }

    .email {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .txt-profile {
        margin: 5px 0;
        text-align: left;

    }

    .custom-line-p {
        height: 1px;
        background-color: #1A5267;
        border: none;
        margin: 10px auto;
        width: 100%;
    }

    .button-group {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin: 15px 0;
    }

    .container-profile .close-modal:hover {
        background: #f97d7d;
        transform: rotate(90deg) scale(1.1);
    }
}

.admin-only {
    display: none;
}

.user-info {
    display: block;
}

.container-profile.admin .admin-only {
    display: block;
}

.container-profile.admin .user-info {
    display: none;
}

/*вікно редагування*/

.p-edit {
    font-family: "Manrope", sans-serif;
    padding-bottom: 10px;
}

.h-edit {
    font-family: "Manrope", sans-serif;
    color: #113E4F;
    text-align: center;
}

.edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.edit-i {
    margin-top: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.input-with-toggle {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
}

.login-container1 {
    background-color: #CBE3F4;
    border-radius: 20px;
    animation: modalFadeIn 0.3s ease-out;
    max-height: 90vh;
    overflow-y: auto;
    padding: 40px;
    position: relative;
    animation: modalFadeIn 0.3s ease-out 0.1s both;

}

@keyframes modalFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes overlayFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}