body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Jost", sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
    gap: 30px;
    height: 100vh;
}

.container-left {
    width: 30%;
    margin-top: 119px;
    margin-left: 66px;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.book-cover {
    margin-top: 57px;
    width: 390px;
}

.admin-controls {
    margin-top: 15px;
    /* display: none;*/
}

.info {
    margin-top: 150px;
    margin-right: 60px;
    width: 70%;
    font-size: 24px;
    color: #000;
}

.reviews-section {
    margin-bottom: 20px;
}

.review {
    border-radius: 20px;
    background-color: #ECEDEE;
    padding: 27px;

    .r {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .r-name,
    .r-rating {
        margin: 0px;
    }

}