body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*область книг*/
.book {
    margin-left: 80px;
    margin-top: 152px;
    flex: 1;
}

.book-row-container {
    position: relative;
    margin: 20px 0;
}

.book-row {
    display: flex;
    overflow-x: auto;
    gap: 25px;
    padding-bottom: 20px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}

.book-row::-webkit-scrollbar {
    display: none;
}

.book-row.table-view {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    overflow-x: visible;
    padding-right: 40px;
}

.book-row.table-view .scroll-btn {
    display: none !important;
}

.h-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;

}

/*повідомлення*/
.empty-message {
    display: none;
    font-size: 25px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Manrope", sans-serif;
}

/*кнопк скролу*/
.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(203, 227, 244, 0.9);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    padding: 0;
    outline: none;

    img {
        align-items: center;
        height: 30px;
        width: 30px;
    }
}

.scroll-btn:hover {
    background-color: #CBE3F4;
}

.scroll-btn.left {
    left: -30px;
}

.scroll-btn.right {
    right: 10px;
}

.h4 {
    font-family: "Jost", sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 0;
    width: 195px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    position: relative;
    transition: all 0.3s ease;

}

.book-link {
    text-decoration: none;
    color: black;
}

.book-link:hover {
    color: rgb(0, 97, 114);
}