body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    gap: 30px;
    flex: 1;
    padding-bottom: 30px;
}

.container-left {
    width: 30%;
    margin-top: 119px;
    margin-left: 66px;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: fit-content;
}

.book-cover {
    margin-top: 57px;
    width: 390px;
}

.admin-controls {
    margin-top: 15px;
    /* display: none;*/
}

.info {
    margin-top: 150px;
    margin-right: 60px;
    width: 70%;
    font-size: 24px;
    color: #000;
}

.reviews-section {
    margin-bottom: 50px;
}

.review {
    border-radius: 20px;
    background-color: #ECEDEE;
    padding: 27px;

    .r {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .r-name,
    .r-rating {
        margin: 0px;
    }

}

.read-modal {
    background-color: #CBE3F4;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}

/* модальне вікно */
.ms{
    margin-bottom: 20px;
    margin-top: 10px;
}
.form-group {
    margin: 0px;
}
.p-time {
    margin: 0px;
    text-align: center  ;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.reading-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 20px auto;
    transition: all 0.3s ease-in-out;
}

.reading-timer h3 {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    margin-bottom: 10px;
    margin-top: 0px;
    padding-left:  15px;
    color: #333;
}

.timer-display {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: bold;
    color:  #1A5267;
    background-color: #e2e8f0;
    padding: 10px 20px;
    border-radius: 8px;
}

